.login {
	margin-top: 100px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

#login-button {
	margin-top: 15px;
}

.input-icon {
	background-color: white;
}

.metro-style {
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.main-container {
	padding-top: 50px;
	padding-left: 0;
}

.main-content {
	padding: 40px 20px 20px 20px;
	margin-left: 200px;
}

.sidebar {
	width: 200px;
	float: left;
	position: relative;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}

.nav-list .menu-icon {
	margin-right: 10px;
	font-size: 25px;
}

.nav-list .menu-text {
	vertical-align: text-bottom;
}

.sidebar:before {
	position: fixed;
	content: "";
	width: 200px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	bottom: 0;
	top: 0;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list>li {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.nav-list>li.active:after {
	display: inline-block;
	content: "";	
	position: absolute;
	right: -2px;
	top: -1px;
	bottom: 0;
	z-index: 1;
	border: 2px solid #c30000;
	border-width: 0 2px 0 0;
}

.nav-list>li.active>a {
	background-color: #fff;
	color: #c30000;
	font-weight: bold;
}

.nav-list li.active>a:after {
	display: block;
	content: "";
	position: absolute !important;
	right: 0;
	top: 9px;
	border: 8px solid transparent;
	border-width: 14px 8px;
	border-right-color: #c30000;
}

.nav-list .submenu>li.active>a:after {
	top: 4px;
}

.nav-list>li>a:hover {
	background-color: #fff;
	color: #c30000;
}

.nav-list>li>a:hover:before {
	display: block;
	content: "";
	position: absolute;
	top: -1px;
	bottom: 0;
	left: 0;
	width: 3px;
	max-width: 3px;
	overflow: hidden;
	background-color: #c30000;
}

.nav-list>li.active .submenu {
	display: block;
}

.nav-list li .submenu {
	overflow: hidden;
}

.nav-list>li .submenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #fff;
}

.nav-list>li .submenu>li {
	margin-left: 0;
	position: relative;
}

.nav-list>li a {
	color: #585858;
}

.nav-list>li .submenu>li.active>a {
	color: #c30000;
}

.nav-list>li .submenu>li.active>a>i {
	display: block !important;
	left: 20px;
}

.nav-list>li .submenu>li>a {
	display: block;
	position: relative;
	color: #616161;
	padding: 7px 0 9px 37px;
	margin: 0;
	border-top: 1px dotted  #e4e4e4;
}

.nav-list>li .submenu>li>a:hover {
	text-decoration: none;
	color: #c30000;
}

.nav-list li.active.open>.submenu>li.active>a:after {
	display: block;
}

.nav-list li.open>a:hover {
	background-color: #fff;
}

.nav-list li.open>a:after {
	display: none;
}

.submenu-icon {
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 7px;
	display: none;
}

.dropdown-icon {
	position: absolute;
	top: 15px;
	right: 19px;
	font-size: 20px;
}

.random-button {
	position: absolute;
	background-color: #555;
	right: 110px;
}

.random-button:hover {
	background-color: #4b4b4b;
}

.settings-button {
	position: absolute;
	background-color: #2e8965;
	border-left: 1px solid #fff;
	right: 60px;
}

.settings-button:hover {
	background-color: #2c7659;
}

.logout-button {
	position: absolute;
	background-color: #438eb9;
	border-left: 1px solid #fff;
	right: 10px;
}

.logout-button:hover {
	background-color: #386F8F;
}

.corner-button {
	font-size: 35px;
	text-align: center;
	height:50px;
	width: 50px;
}

.corner-button>i {
	color: #fff;
}

.navbar-home {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 30px;
	color: #fff;
}

.corner-button>i {
	-webkit-transition:all 400ms;   
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms; 
}

.corner-button:hover>i {
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);    
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.info-panel {
	position: relative;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 40px 40px 10px 10px;
	margin-bottom: 40px;
	color: #333;
}

.info-panel-label {
	position: absolute;
	top: -15px;
	left: 40px;
	font-size: 20px;
	padding: 2px 5px 2px 5px;
	background-color: #fff;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.info-panel-label.blue, .info-panel.blue {
	border-color: #0085C3;
}

.info-panel-label.blue {
	color: #0085C3;
}

.info-panel.blue .form-group:hover {
	color: #0085C3;
}

.info-panel-label.orange, .info-panel.orange {
	border-color: #F90;
}

.info-panel-label.orange, .info-panel.orange .form-group:hover {
	color: #F90;
}

.info-panel-label.red, .info-panel.red {
	border-color: #c00000;
}

.info-panel-label.red, .info-panel.red .form-group:hover {
	color: #c00000;
}

.info-panel-label.turquoise, .info-panel.turquoise {
	border-color: #00DEE7;
}

.info-panel-label.turquoise, .info-panel.turquoise .form-group:hover {
	color: #00DEE7;
}

.info-panel-label>p {
	margin-bottom: 0px;
}

#pricerangediv {
	padding-top: 7px;
	text-align: center;
}

#create-room-button {
	margin-left: 15px;
	margin-bottom: 10px;
	width: 100%;
}

.room-list {
	list-style: none;
	margin-right: 20px;
	padding-left: 10px;
}

.room-list>li {
	font-size: 20px;
	/*padding: 10px;*/
	margin: 5px;
	border: 1px solid  #e3e3e3;
	position: relative;
}

.room-list>li>a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.room-list>li:hover {
	border-color: #00DEE7;
	background: #f7f7f7;	
}

.room-list>li>a:hover {
	color: #00dee7;
}

.room-list>li>a.room-delete-button:hover {
	background: #c50000;
	color: #fff;
}

.room-delete-button {
	position: absolute;
	right: -42px;
	top: -1px;
	color: #c50000;
	border: 1px solid  #c50000;
}

.confirm-dialog {
	position: absolute;
	width: 230px;
	background-color: #fff;
	border: 3px solid  #c50000;
	z-index: 1;
	top: -26px;
	right: 10px;
	display: none;
	padding: 10px;
	font-size: 16px;
	/*font-weight: bold;*/
	text-align: center;
}

.confirm-dialog:after {
	position: absolute;
	display: block;
	content: '';
	width: 0;
	height: 0;
	top: 22px;
	right: -18px;
	border-top: 25px solid transparent;
	border-left: 15px solid #c50000;
	border-bottom: 25px solid transparent;
}

.confirm-dialog button {
	width: 100px;
	font-size: 20px;
	padding: 0;
}

/*
|---------------------|
| Slider override 	  |
|---------------------|
*/

.ui-slider-horizontal {
	height: 12px;
	border: solid 1px #e3e3e3;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
}

.ui-slider .ui-slider-handle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	top: -7px;	
}

.ui-widget-header {
	background: #00DEE7;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 2px solid #00DEE7;
	background: #fff;
}

.ui-widget-content .ui-state-default:hover {
	background: #CDFDFF;
}

.ui-slider>a:focus {
	outline: none;
}

/*
|---------------------|
| Checkbox 			  |
|---------------------|
*/

.custom-checkbox {
	width: 80px;
	height: 25px;
	background: #fff;
	margin: 0px 20px;
	border: 1px solid  #e3e3e3;
	position: relative;
	top: 5px;
	z-index: 1;
}

.custom-checkbox:before {
	content: 'JA';
	color: #00e400;
	position: absolute;
	left: 12px;
	top: 2px;
	font-weight: bold;
}

.custom-checkbox:after {
	content: 'NEE';
	color: #c50000;
	position: absolute;
	left: 46px;
	top: 2px;
	font-weight: bold;
	z-index: -1;
}

.custom-checkbox label {
	display: block;
	width: 40px;
	height: 25px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: -1px;
	border: 2px solid #000;
	background: #fff;
}

.custom-checkbox label:hover {
	background: #f3f3f3;
}

.custom-checkbox label>i {
	position: relative;
	left: 12px;
}

.custom-checkbox.orange label {
	border-color: #f90;
	color: #f90;
}

.custom-checkbox.red label {
	border-color: #c00000;
	color: #c00000;
}

.custom-checkbox input[type=checkbox]:checked + label {
	left: 40px;
}

input[type=checkbox] {
	display: none;
}

/*
|---------------------|
| Bootstrap overrides |
|---------------------|
*/

.well {
	background-color: #fff;
	border: solid 1px #e3e3e3;
}

.form-control {
	border: solid 1px #e3e3e3;
}

.btn {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.navbar-inverse {
	background-color: #bb5555;
	border-color: #bb5555;
}

.alert {
	margin-bottom: 30px;
}

.alert-heading {
	font-size: 16px;
	font-weight: bold;
}

.form-control {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

textarea.form-control {
	resize: vertical;
}

.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

.form-group p {
	font-weight: bold;
	display: inline;
}


/*
|---------------------|
| Mobile         	  |
|---------------------|
*/

@media only screen and (max-width: 991px) {


	.menu-toggler {
		display: inline-block;
		left: 0px;
		z-index: 998;
		width: 100px;
		height: 32px;
		margin-right: 2px;
		line-height: normal;
		padding-left: 33px;
		padding-top: 7px;
		padding-bottom: 1px;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: rgb(68, 68, 68);
		color: rgb(243, 243, 243);
		box-sizing: content-box;
	}

	.sidebar {
		display: none;
		float: none;
		position: absolute;
		z-index: 999;
		left: 0px;
		bottom: auto;
		margin-top: -5px;
		border: solid rgb(204, 204, 204);
		border-image-source: initial;
		border-image-slice: initial;
		border-image-width: initial;
		border-image-outset: initial;
		border-image-repeat: initial;
		box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
		top: auto;
	}

	.sidebar:before {
		display: none;
	}

	.sidebar.display {
		display: block;
	}

	.main-content {
		margin-left: 0;
		margin-top: -5px;
	}
}
